<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        *{
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }
        div{
            margin: 50px auto;
            width: 30%;
            text-align: center;
            background-color: black;
            padding: 10px;
            font-family: poppins;
            color: white;
        }
        div form input{
            padding: 10px 20px;
            
        }
        div form{
            margin: 10px 0px;
        }
    </style>
</head>
<body>
    <div>
        <h1>Admin Login</h1>
    <form method="post">
            <input type="text" name="email" placeholder="enter email here.."> 
            <br>
            <br>
            <input type="password" name="password" placeholder="enter password here..">
            <br><br>
            <input type="submit" value="login">
        </form>
    </div>
</body>
</html>